backup/
sem_app/public/logs/pow*
emstart.sh
emstop.sh
history.js
sem_app.js
user_conf.py
sem_app/public/bootstrap/
sem_app/public/highcharts.com/
sem_app/public/jquery/
__pycache__/
sem_app/node_modules/
sem_app/public/logs/
!sem_app/public/logs/dummy
user_conf_bak.py
.DS_Store
